
@media screen and (min-width: 960px) {
	.page-width {
		width: 960px;
		margin: 0 auto;
		position: relative;

	}
	header {
		height: 846px;
		background-image: url(../img/header-bg.jpg);
		background-repeat: no-repeat;
		background-color: #745183;
		background-position: top center;
		background-size: initial;
	}
	.header-logo {
		padding: 70px 0 0 0px;
		display: inline-block;
		vertical-align: top;
	}
	.header-menu {
		padding: 69px 0 0 162px;
		display: inline-block;
		vertical-align: top;
	}
	.header-menu a{
		display: inline-block;
		padding: 0 4px 0px 7px;
		font: 400 24px/32px 'league_gothic', Arial, sans-serif;
		text-transform: uppercase;
		color: #fff;
		text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
		text-decoration: none;
		border-bottom: 2px solid transparent;
		word-spacing: -2px;

	}
	.header-menu a:hover{
		border-bottom: 2px solid #edbfff;
	}
	.header-menu__active {
		display: inline-block;
		vertical-align: top;
	}
	.header-menu__submenu, .header-menu__submenu li {
		display: inline-block;
		vertical-align: top;
		list-style: none;
	}
	.header-menu__item-1 {
		padding-left: 36px;
	}
	.header-menu__item-2 {
		padding-left: 36px;
	}
	.header-menu__item-3 {
		padding-left: 37px;
	}
	.header-menu__item-4 {
		padding-left: 36px;
	}
	.header-menu__item-5 {
		position: relative;
		left: 37px;
	}

	.slider {
		margin-top: 162px;
		height: 400px;
		box-sizing: border-box;
		background-color: rgba(0,0,0,0.2);
	}
	.slider__item {

	}
	.slider__side {
		width: 515px;
		display: inline-block;
		vertical-align: top;
		margin: 78px 0 0 -1px;
		text-shadow: 0.5px 0.9px 0 #0f1518;
	}
	.slider__header {
		font: 60px/60px 'league_gothic', Arial, sans-serif;
		color: #fefefe;
		letter-spacing: -1px;
	}
	.slider__subheader {
		font: 32px/32px 'league_gothic', Arial, sans-serif;
		color: #edbfff;
		text-transform: uppercase;
		margin-top: 0px;
		word-spacing: -2px;

	}
	.slider__text {
		color: #fff;
		margin-top: 6px;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: -0.1px;

	}
	.slider__pic {
		display: inline-block;
		vertical-align: top;
		margin: -17px 0 0 96px;
	}
	.slider__nav {
		position: absolute;
		bottom: -104px;
		left: 709px;
		font-size: 0;
	}
	.slider__nav-item {
		position: relative;
		display: inline-block; 
		width: 17px;
		height: 17px;
		margin-right: 5px;
		background: rgba(0,0,0,0.3);
		border-radius: 50%;
		box-sizing: border-box;
	}
	.slider__nav-item--active:before {
		content: '';
		position: absolute;
		left: 3px;
		top: 3px;
		width: 9px;
		height: 9px;
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 100%);
		background: linear-gradient(to top, #d4d4d4 0%, white 100%);
		border: 1px solid white;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
		border-radius: 50%;
		box-sizing: content-box;
	}
	.slider__prev {
		position: absolute;
		width: 32px;
		height: 42px;
		top: 179px;
		left: -75px;
		background: url(../img/slider-prev.png);
	}
	.slider__next {
		position: absolute;
		width: 32px;
		height: 42px;
		top: 179px;
		right: -5px;
		background: url(../img/slider-next.png);
	}

	.about {
		border-top: 1px solid #36283c;
		border-bottom: 1px solid #21333b;
		width: 100%;
		height: auto;
		padding: 76px 0 64px 0;
		background: -moz-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%); 
		background-image: linear-gradient(to top, #322539 0%, #745083 100%); 
		}
	.about__item {
		display: inline-block;
		vertical-align: top;
		width: 223px;
		box-sizing: content-box;
		padding-left: 52px; 
		position: relative;
	}
	.about__item:before {
		content: '';
		display: block;
		position: absolute;
		left: -2px;
		top: 8px;
		background-image: url(../img/about.png);
	}
	.about__item--first {
		margin-left: 10px;
	}
	.about__item--first:before {
		background-position: 0 0;
		width: 30px;
		height: 31px;
	}
	.about__item--second {
		margin-left: 60px;
	}
	.about__item--second:before {
		background-position: -39px 0;
		width: 33px;
		height: 29px;
	}
	.about__item--third {
		margin-left: 56px;
	}
	.about__item--third:before {
		background-position: -85px 0;
		width: 29px;
		height: 31px;
	}
	.about__header {
		font: 30px/30px 'league_gothic', Arial, sans-serif;
		text-transform: uppercase;
		color: #fff;
		text-shadow: 0.5px 0.9px 0 #0f1518;
		letter-spacing: -0.3px;
	}
	.about__text {
		margin-top: 9px;
		color: #fff;
		text-shadow: 0.5px 0.9px 0 #0f1518;
		letter-spacing: -0.1px;
	}
	.about__link {
		text-align: right;
		padding: 16px 7px 0 0;
	}
	.about__item--second .about__link {
		text-align: right;
		padding: 16px 4px 0 0;
	}
	.about__item--third .about__link {
		text-align: right;
		padding: 16px 2px 0 0;
	}
	.about__link a {
		font: 18px/18px 'league_gothic', Arial, sans-serif;
		text-transform: uppercase;
		text-decoration: none;
		color: #fff;
	}
	.about__link a:hover {
		text-decoration: none;
		color: #fff;
		text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
	}

	.sub-about-line {
		height: 0;
		border-top: 1px solid #12191f;
		border-bottom: 1px solid #f9f9f9;
	}

	.sub-about-shadow {
		height: 16px;
		background-image: url(../img/starts-bg.png);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: initial;
	}

	.starts {
		display: inline-block;
		vertical-align: top;
	}
	.starts__item {
		width: 428px;
		box-sizing: border-box;
		margin: 83px 0px 0 22px;
		padding-bottom: 6px;
		position: relative;
		background-color: #fff;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	}
	.starts__photo {
		display: block;
		position: absolute;
		top: 18px;
		left: -24px;
		width: 49px;
		height: 49px;
		border-radius: 50%;
		box-shadow: 1px 1.7px 0 white, inset 1px 1.7px 5px rgba(0, 0, 0, 0.3);
	}
	.starts__header {
		display: inline-block;
		vertical-align: top;
		padding: 29px 0 0 39px;
		font: 30px/30px 'league_gothic', Arial, sans-serif;
		text-transform: uppercase;
		color: #454545;
	}
	.starts__subheader {
		display: inline-block;
		vertical-align: top;
		padding: 29px 0 0 0px;
		font: 30px/30px 'league_gothic', Arial, sans-serif;
		text-transform: uppercase;
		color: #edbfff;
		word-spacing: -3px;
	}
	.starts__text {
		padding: 9px 37px 30px 39px;
		color: #454545;
		word-spacing: -0.5px;
	}
	.starts__nav {
		padding-left: 19px;
		text-align: center;
		margin-top: 23px;
	}
	.starts__nav-item {
		display: inline-block; 
		width: 19px;
		height: 19px;
		margin-right: -2px;
		border: 1px solid #e6e6e6;
		box-shadow: 1px 1.7px 0 white;
		background-color: #fff;
		border-radius: 50%;
		position: relative;
		box-sizing: border-box;

	}
	.starts__nav-item--active:before {
		content: '';
		position: absolute;
		left: 2px;
		top: 2px;
		width: 13px;
		height: 13px;
		background: -moz-linear-gradient(top, rgba(106,106,106,1) 0%, rgba(69,69,69,1) 100%);
		background-image: linear-gradient(to top, #454545 0%, #6a6a6a 100%);
		border: 1px solid #454545;
		border-radius: 50%;
		box-sizing: border-box;
	}

	.recent {
		display: inline-block;
		vertical-align: top;
		width: 450px;
		margin-top: 112px;
		margin-left: 55px;
	}
	.recent__header {
		margin: 0 0px 0 -1px;
		font: 30px/30px 'league_gothic', Arial, sans-serif;
		text-transform: uppercase;
		color: #454545;
		letter-spacing: -0.25px;
	}
	.recent__item {
		padding: 0 0px 0 66px;
		position: relative;
	}
	.recent__item--first {
		margin-top: 16px;
	}
	.recent__item--second {
		margin-top: 18px;
	}
	.recent__item--third {
		margin-top: 15px;
	}
	.recent__pic {
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 49px;
		height: 49px;
		border-radius: 50%;
		box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
	}
	.recent__title {
		font: 900 16px/16px 'open_sans_extrabold', Arial, sans-serif;
		color: #454545;
		padding-top: 4px;
	}
	.recent__text {
		padding-top: 5px;
		color: #454545;
		letter-spacing: -0.1px;
	}
	.recent__tomore {
		margin-top: 20px;
		margin-right: 21px;
		text-align: right;
	}
	.recent__tomore a{
		font: 18px/18px 'league_gothic', Arial, sans-serif;
		text-transform: uppercase;
		color: #454545;
		text-decoration: none;
	}
	.recent__tomore a:hover {
		text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	}

	.recent-after-line {
		height: 0;
		margin-top: 65px;
		border-top: 1px solid #e6e6e6;
		border-bottom: 1px solid #fefefe;
	}

	.brands {
		border-bottom: 1px solid #fefefe;
		background-color: #f9f9f9;
		padding-bottom: 28px;
	}
	.brands__item {
		display: inline-block;
		vertical-align: top;
	}
	.brands__item--1 {
		padding: 24px 0 0 92px;
	}
	.brands__item--2 {
		padding: 25px 0 0 61px;
	}
	.brands__item--3 {
		padding: 25px 0 0 60px;
	}
	.brands__item--4 {
		padding: 25px 0 0 70px;
	}
	.brands__item--5 {
		padding: 46px 0 0 64px;
	}
	.brands__item--6 {
		padding: 26px 0 0 63px;
	}

	.news {
		border-top: 1px solid #d8d8d8;
		width: 100%;
		height: auto;
		padding-top: 94px;
		padding-bottom: 92px;
		background-color: #ececec;
	}
	.news__item {
		display: inline-block;
		vertical-align: top;
		width: 280px;
	}
	.news__item--first {
		margin-left: -2px;
	}
	.news__item--first .news__title{
		display: none;
	}
	.news__item--second {
		margin-left: 56px;
	}
	.news__item--third {
		margin-left: 54px;
	}
	.news__title {
		margin-top: 2px;
		font: 30px/30px 'league_gothic', Arial, sans-serif;
		text-transform: uppercase;
		color: #454545;
		text-shadow: 0.5px 0.9px 0 white;
		letter-spacing: -0.3px;
	}
	.news__title-big {
		font: 48px/48px 'league_gothic', Arial, sans-serif;
		text-transform: uppercase;
		color: #454545;
		text-shadow: 0.5px 0.9px 0 white;
		letter-spacing: -0.3px;
	}
	.news__title-big span {
		color: #b9b9b9;
	}
	.news__copy {
		font: italic 16px/16px Georgia, Arial, sans-serif;
		text-shadow: 0.5px 0.9px 0 white;
		color: #c5c5c5;
		margin-top: 14px;
		letter-spacing: -0.1px;
	}
	.news__text {
		margin-top: 10px;
		text-shadow: 0.5px 0.9px 0 white;
		color: #787878;
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		letter-spacing: -0.1px;
	}

	footer {
		height: 114px;
		background-image: url(../img/footer-shadow.png), url(../img/footer-bg.jpg);
		background-repeat: no-repeat;
		background-color: #7e808a;
		background-position: top center;
		background-size: initial;
		box-sizing: border-box;
		white-space: nowrap;
	}

	.footer__copy {
		display: inline-block;
		vertical-align: top;
		margin: 48px 0px 0 292px;
		font-size: 12px;
		color: #fff;
		text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
		letter-spacing: -0.1px;
	} 
	.footer__copy b {
		font: 900 12px 'open_sans_extrabold', Arial, sans-serif;
	}
	.footer-nav {
		padding: 39px 0px 0 0px;
		display: inline-block;
		vertical-align: top;
	}
	.footer-nav a{
		display: inline-block;
		font: 400 20px/34px 'league_gothic', Arial, sans-serif;
		text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
		color: white;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: -0.2px;
	}
	.footer-nav a:hover{
		text-shadow: 1px 1.7px 2px rgba(255, 255, 255, 0.4);
	}
	.footer-nav__item-1 {
		margin-left: -1px;
	}
	.footer-nav__item-2 {
		margin-left: 39px;
	}
	.footer-nav__item-3 {
		margin-left: 40px;
	}
	.footer-nav__item-4 {
		margin-left: 40px;
	}
	.footer-nav__item-5 {
		margin-left: 40px;
	}
	.footer-nav__item-6 {
		margin-left: 40px;
	}

}