@media screen and (max-width: 479px) {
	.page-width {
		width: 320px;
		margin: 0 auto;
		position: relative;
	}
	header {
		height: 516px;
		background-image: url(../img/header-bg.jpg);
		background-repeat: no-repeat;
		background-color: #745183;
		background-position: top center;
		background-size: initial;
	}
	.header-logo {
		padding-top: 70px;
		text-align: center;
	}
	.header-menu {
		position: absolute;
		width: 246px;
		top: 129px;
		left: 34px;
		border: 1px solid transparent;
		border-radius: 10px;
		font: 24px/24px 'league_gothic', Arial, sans-serif;
		text-transform: uppercase;
		color: #fff;
		z-index: 1;
	}
	.header-menu:hover {
		background-color: rgba(54,41,62, 0.9);
		border: 1px solid #051116;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	}
	.header-menu__active {
		height: 47px;
		box-sizing: border-box;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		border-radius: 10px 10px 0 0;
		text-align: center;
	}
	.header-menu:hover .header-menu__active {
		border-top: 1px solid #614a6b;
		border-bottom: 1px solid #36283e;
	}
	.header-menu__active a{
		padding: 14px 5px 4px 5px;
		display: inline-block;
		border-bottom: 2px solid #edbfff;
		text-decoration: none;
		color: #fff;
	}
	.header-menu__submenu {
		display: none;
		list-style: none;
	}
	.header-menu:hover .header-menu__submenu {
		display: block;
	}
	.header-menu__submenu a{
		display: block;
		position: relative;
		height: 31px;
		padding-top: 9px;
		box-sizing: content-box;
		border-top: 1px solid #523e5a;
		border-bottom: 1px solid #36283e;
		text-align: center;
		text-decoration: none;
		color: #fff;
		overflow: hidden;
	}
	.header-menu__submenu a:hover {
		background-color: rgba(0,0,0,0.3);
	}
	.header-menu__submenu a::after {
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		position: absolute;
		left: 0;
		bottom: 0;
		background-color: #edbfff;
		opacity: 0;
	}
	.header-menu__submenu a:hover:after {
		opacity: 1;
	}
	.header-menu__submenu li:last-child a{
		border-bottom: 0;
		border-radius: 0 0 10px 10px;
	}

	.slider {
		margin-top: 181px;
		height: 246px;
		box-sizing: border-box;
	}
	.slider__side {
		text-shadow: 0.5px 0.9px 0 #0f1518;
	}
	.slider__header {
		font: 36px/36px 'league_gothic', Arial, sans-serif;
		color: #fefefe;
		letter-spacing: -0.7px;
		margin-left: 64px;
		letter-spacing: -0.4px;
	}
	.slider__subheader {
		font: 18px/18px 'league_gothic', Arial, sans-serif;
		color: #edbfff;
		text-transform: uppercase;
		margin-top: 2px;
		margin-left: 64px;
		letter-spacing: -0.2px;
		max-height: 19px;
		max-width: 206px;
		overflow: hidden;
	}
	.slider__text {
		display: none;
	}
	.slider__pic {
		display: none;
	}
	.slider__nav {
		position: absolute;
		bottom: -108px;
		left: 122px;
		font-size: 0;
		width: 150px;
	}
	.slider__nav-item {
		display: inline-block; 
		margin-right: 3px;
		cursor: pointer;
	position: relative;
	}
	.slider__nav-item input[type=radio] {
position: absolute;
	left: -9999px;
	margin: 0;
	}
	.slider__nav-item span{
		display: block; 
		width: 19px;
		height: 19px;
		background: url(../img/slider-nav.png);
	}
	.slider__nav-item input[type=radio]:checked + span {
		background: url(../img/slider-nav.png) -21px 0;
	}
	.slider__nav-item input.checked + span {
		background: url(../img/slider-nav.png) -21px 0;
	}
	.slider__prev {
		position: absolute;
		width: 32px;
		height: 42px;
		top: 9px;
		left: -5px;
		background: url(../img/slider-prev.png);
	}
	.slider__next {
		position: absolute;
		width: 32px;
		height: 42px;
		top: 9px;
		right: -4px;
		background: url(../img/slider-next.png);
	}


	.about {
		border-top: 1px solid #36283c;
		border-bottom: 1px solid #21333b;
		width: 100%;
		height: auto;
		padding: 70px 0 60px 0;
		background: -moz-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
		background-image: linear-gradient(to top, #322539 0%, #745083 100%); 
	}
	.about__item {
		padding-left: 82px;
		padding-right: 20px; 
		background-position: 0 0;
		background-repeat: no-repeat;
		position: relative;
	}
	.about__item:before {
		content: '';
		display: block;
		position: absolute;
		left: 29px;
		top: 0;
		background-image: url(../img/about.png);
	}
	.about__item--first:before {
		background-position: 0 0;
		width: 30px;
		height: 31px;
	}
	.about__item--second {
		margin-top: 21px;
	}
	.about__item--second:before {
		background-position: -39px 0;
		width: 33px;
		height: 29px;
	}
	.about__item--third {
		margin-top: 37px;
	}
	.about__item--third:before {
		background-position: -85px 0;
		width: 29px;
		height: 31px;
	}
	.about__header {
		font: 24px/24px 'league_gothic', Arial, sans-serif;
		text-transform: uppercase;
		color: #fff;
		text-shadow: 0.5px 0.9px 0 #0f1518;
		letter-spacing: -0.3px;
	}
	.about__text {
		margin-top: 4px;
		color: #fff;
		text-shadow: 0.5px 0.9px 0 #0f1518;
		max-height: 72px;
		overflow: hidden;

	}
	.about__link {
		text-align: right;
		padding: 12px 6px 0 0;
	}
	.about__link a {
		font: 18px/18px 'league_gothic', Arial, sans-serif;
		text-transform: uppercase;
		text-decoration: none;
		color: #fff;
	}
	.about__link a:hover {
		text-decoration: none;
		color: #fff;
		text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
	}

	.sub-about-line {
		height: 0;
		border-top: 1px solid #12191f;
		border-bottom: 1px solid #f9f9f9;
	}

	.sub-about-shadow {
		height: 16px;
		background-image: url(../img/starts-bg.png);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: initial;
	}

	.starts {
		padding: 53px 0 0 0;
	}
	.starts__item {
		margin: 0 21px 0 43px;
		padding-bottom: 23px;
		position: relative;
		background-color: #fff;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	}
	.starts__photo {
		display: block;
		position: absolute;
		top: 19px;
		left: -23px;
		width: 49px;
		height: 49px;
		border-radius: 50%;
		box-shadow: 1px 1.7px 0 white, inset 1px 1.7px 5px rgba(0, 0, 0, 0.3);
	}
	.starts__header {
		padding: 25px 0 0 35px;
		font: 24px/24px 'league_gothic', Arial, sans-serif;
		text-transform: uppercase;
		color: #454545;
	}
	.starts__subheader {
		padding: 0px 0 0 36px;
		font: 24px/24px 'league_gothic', Arial, sans-serif;
		text-transform: uppercase;
		color: #edbfff;
		letter-spacing: -0.2px;
	}
	.starts__text {
		padding: 5px 40px 0px 39px;
		color: #454545;
		max-height: 171px;
		overflow: hidden;
		word-spacing: -0.5px;
	}
	.starts__nav {
		padding-left: 141px;
		margin-top: 17px;
		font-size: 0;
		position: relative;
		top: 5px;
	}
	.starts__nav-item {
		display: inline-block; 
		margin-right: 2px;
		cursor: pointer;
	}
	.starts__nav-item input[type=radio] {
position: absolute;
	left: -9999px;
	margin: 0;
	}
	.starts__nav-item span{
		display: block; 
		width: 20px;
		height: 20px;
		background: url(../img/starts-nav.png);
	}
	.starts__nav-item input[type=radio]:checked + span {
		background: url(../img/starts-nav.png) -23px 0;
	}
	.starts__nav-item input.checked + span {
		background: url(../img/starts-nav.png) -23px 0;
	}

	.recent {
		padding-top: 40px;
		padding-bottom: 85px;
	}
	.recent__header {
		padding: 0 19px;
		font: 30px/30px 'league_gothic', Arial, sans-serif;
		text-transform: uppercase;
		color: #454545;
		letter-spacing: -0.2px;
	}

	.recent__item {
		padding: 0 20px 0 85px;
		position: relative;
	}
	.recent__item--first {
		margin-top: 16px;
	}
	.recent__item--second {
		margin-top: 16px;
	}
	.recent__item--third {
		margin-top: 22px;
	}
	.recent__pic {
		display: block;
		position: absolute;
		top: 0px;
		left: 20px;
		width: 49px;
		height: 49px;
		border-radius: 50%;
		box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
	}
	.recent__title {
		font: 900 16px/19px 'open_sans_extrabold', Arial, sans-serif;
		color: #454545;
		padding-top: 3px;
		max-height: 20px;
		box-sizing: content-box;
		overflow: hidden;
	}
	.recent__text {
		padding-top: 1px;
		color: #454545;
		max-height: 25px;
		overflow: hidden;
		word-spacing: -0.5px;
	}
	.recent__tomore {
		margin-top: 15px;
		margin-right: 28px;
		text-align: right;
	}
	.recent__tomore a{
		font: 18px/18px 'league_gothic', Arial, sans-serif;
		text-transform: uppercase;
		color: #454545;
		text-decoration: none;
	}
	.recent__tomore a:hover {
		text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	}

	.recent-after-line {
		height: 0;
		border-top: 1px solid #e6e6e6;
		border-bottom: 1px solid #fefefe;
	}

	.brands {
		background-color: #f9f9f9;
		padding-bottom: 4px;
	}
	.brands__wraper {
		padding: 0 20px 71px 20px;
	}
	.brands__item {
		display: inline-block;
		vertical-align: top;
	}
	.brands__item--1 {
		padding: 52px 0 0 42px;
	}
	.brands__item--2 {
		padding: 52px 0 0 50px;
	}
	.brands__item--3 {
		padding: 61px 0 0 49px;
	}
	.brands__item--4 {
		padding: 60px 0 0 61px;
	}
	.brands__item--5 {
		padding: 62px 0 0 21px;
	}
	.brands__item--6 {
		padding: 42px 0 0 52px;
	}

	.news {
		display: none;
	}

	footer {
		height: 202px;
		border-top: 1px solid #fefefe;
		background-image: url(../img/footer-shadow.png), url(../img/footer-bg.jpg);
		background-repeat: no-repeat;
		background-color: #7e808a;
		background-position: top center;
		background-size: initial;
		box-sizing: border-box;
	}
	.footer-nav {
		display: none;
	}
	.footer__copy {
		margin-top: 36px;
		font-size: 12px;
		color: #fff;
		text-align: center;
		text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
	} 
	.footer__copy b {
		font: 900 12px 'open_sans_extrabold', Arial, sans-serif;
	}
}